:root {
  box-sizing: border-box;
  --hover-colour:rgb(196, 214, 237);
  --default-font-size: 16px; 
  --title-font-size: 20px;
  --default-font: Consolas, monospace;
  --button-background-colour: #e9e9ed;
  --button-border-style: 1px solid #8f8f9d;
  font-size: var(--default-font-size);
  font-family: var(--default-font);
}

button {
  margin: 1rem 0rem;
  padding: 1rem;
  font-size: var(--default-font-size);
  font-family: var(--default-font);
  background: var(--button-background-colour);
}

button#add-writing {
  border: 1px solid #8f8f9d;
  border-radius: 2px;
}
button#add-writing:hover {
  background-color: rgb(145, 159, 184);
  color: #fff
}

.main-container {
  padding: 0rem 5rem;
}
.navbar-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
}
.navbar-container > :first-child {
  flex: 1;
}

ul.writings-list {
  list-style-type: none;
  line-height: 2;
  padding: 1rem;
  margin: 1rem;
}

ul.writings-list > li :hover {
  cursor: pointer;
  color: rgb(145, 159, 184);
  font-weight: 600;
}